* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 95%;
  max-width: 1100px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,.3);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 36px;
}

header p {
  color: #666;
}

.candidatos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #f7f7f7;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 10px;
}

.card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2c5364;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #0f2027;
}

.resultado {
  margin-top: 40px;
  text-align: center;
}

.grafico {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 180px;
  gap: 20px;
  margin-top: 20px;
}

.barra-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.porcentagem {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #0f2027;
}

.barra {
  width: 60px;
  height: 0;
  background: linear-gradient(#2c5364, #0f2027);
  border-radius: 10px 10px 0 0;
  transition: height 0.4s ease;
}



.finalizar button {
  padding: 14px 30px;
  font-size: 18px;
  background: #0f2027;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.finalizar button:hover {
  background: #2c5364;
}

.resultado-final {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #0f2027;
}
.foto-vencedor {
  margin-top: 20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #2c5364;
}
